@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.new {
  font-family: "Roboto";
}